<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sidm.nomoremushroom" >

    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".Splashpage"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Mainmenu"
                  android:screenOrientation="landscape">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>

        <activity android:name=".WorldMap"
                  android:screenOrientation="landscape">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>

        <activity android:name=".GameLevel1"
                  android:screenOrientation="landscape">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>

        <activity android:name=".GameLevel2"
                  android:screenOrientation="landscape">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>

        <activity android:name=".GameLevel3"
                  android:screenOrientation="landscape">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>

        <activity android:name=".Option"
                  android:screenOrientation="landscape">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>

        <activity android:name=".Instruction"
                  android:screenOrientation="landscape">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>

        <activity android:name="com.facebook.FacebookActivity"
                  android:label="WhatTheShip"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation">
        </activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
                   android:value="@string/app_id"/>

        <provider android:name="com.facebook.FacebookContentProvider"
                  android:exported="true"
                  android:authorities="com.facebook.app.FacebookContentProvider1681857115422588"/>

    </application>

</manifest>
